{"openapi":"3.0.0","info":{"title":"\u82b1\u751f\u4e16\u754c APi","version":"1.0"},"servers":[{"url":"http:\/\/hssj.com","description":"\u672c\u5730"},{"url":"http:\/\/ehb.api.php.8kpay.com:10001","description":"\u6d4b\u8bd5"}],"paths":{"\/article-list":{"get":{"tags":["\u6587\u7ae0"],"summary":"\u6587\u7ae0\u5217\u8868","description":"\u6587\u7ae0\u5217\u8868","operationId":"\/article-list","parameters":[{"$ref":"#\/components\/parameters\/keyword"},{"$ref":"#\/components\/parameters\/ArticleCallIndex"},{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/article-index":{"get":{"tags":["\u6587\u7ae0"],"summary":"\u6587\u7ae0\u7d22\u5f15","description":"\u6587\u7ae0\u7d22\u5f15","operationId":"\/article-index","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/article-list-detail":{"get":{"tags":["\u6587\u7ae0"],"summary":"\u6587\u7ae0\u660e\u7ec6","description":"\u6587\u7ae0\u660e\u7ec6","operationId":"\/article-list-detail","parameters":[{"$ref":"#\/components\/parameters\/ArticleId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/coin-list":{"get":{"tags":["Coin"],"summary":"\u5e01\u79cd\u5217\u8868","description":"\u5e01\u79cd\u5217\u8868","operationId":"\/coin-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/single-coin":{"get":{"tags":["Coin"],"summary":"\u6839\u636e\u5e01\u79cdId\u83b7\u53d6\u5e01\u79cd","description":"\u6839\u636e\u5e01\u79cdId\u83b7\u53d6\u5e01\u79cd","operationId":"\/single-coin","parameters":[{"$ref":"#\/components\/parameters\/CoinId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/coin-balance":{"get":{"tags":["Coin"],"summary":"\u83b7\u53d6\u5e01\u79cd\u4f59\u989d","description":"\u83b7\u53d6\u5e01\u79cd\u4f59\u989d","operationId":"\/coin-balance","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/coin-single-balance":{"get":{"tags":["Coin"],"summary":"\u83b7\u53d6\u5355\u4e2a\u5e01\u79cd\u4f59\u989d","description":"\u83b7\u53d6\u5355\u4e2a\u5e01\u79cd\u4f59\u989d","operationId":"\/coin-single-balance","parameters":[{"$ref":"#\/components\/parameters\/CoinId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/withdraw-detail":{"get":{"tags":["Coin"],"summary":"\u63d0\u5e01\u8be6\u60c5","description":"\u63d0\u5e01\u8be6\u60c5","operationId":"\/withdraw-detail","parameters":[{"$ref":"#\/components\/parameters\/WithdrawId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/recharge-detail":{"get":{"tags":["Coin"],"summary":"\u5145\u503c\u8be6\u60c5","description":"\u5145\u503c\u8be6\u60c5","operationId":"\/recharge-detail","parameters":[{"$ref":"#\/components\/parameters\/RechargeId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/recharge-address":{"get":{"tags":["Coin"],"summary":"\u83b7\u53d6\u5145\u503c\u5730\u5740","description":"\u83b7\u53d6\u5145\u503c\u5730\u5740","operationId":"\/recharge-address","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/recharge-withdraw":{"get":{"tags":["Coin"],"summary":"\u5145\u63d0\u8bb0\u5f55","description":"\u5145\u63d0\u8bb0\u5f55","operationId":"\/recharge-withdraw","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/CoinId"},{"$ref":"#\/components\/parameters\/Type"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/withdraw":{"post":{"tags":["Coin"],"summary":"\u63d0\u73b0","description":"\u63d0\u73b0","operationId":"\/withdraw","parameters":[{"$ref":"#\/components\/parameters\/CoinId"},{"$ref":"#\/components\/parameters\/Money"},{"$ref":"#\/components\/parameters\/Address"},{"$ref":"#\/components\/parameters\/Memo"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/post.exchange":{"post":{"tags":["Coin"],"summary":"\u8f6c\u8d26","description":"\u8f6c\u8d26","operationId":"exchange","parameters":[{"$ref":"#\/components\/parameters\/Money"},{"$ref":"#\/components\/parameters\/Address"},{"$ref":"#\/components\/parameters\/PayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/get.exchange.fee":{"get":{"tags":["Coin"],"summary":"\u8f6c\u8d26\u624b\u7eed\u8d39","description":"\u8f6c\u8d26\u624b\u7eed\u8d39","operationId":"exchangeFee","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/get.wallet.info":{"get":{"tags":["Coin"],"summary":"\u94b1\u5305\u4fe1\u606f","description":"\u94b1\u5305\u4fe1\u606f","operationId":"walletInfo","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-coin":{"get":{"tags":["CTC"],"summary":"\u4ea4\u6613\u5e01\u79cd","description":"\u4ea4\u6613\u5e01\u79cd","operationId":"\/ctc-coin","parameters":[{"$ref":"#\/components\/parameters\/CTCType"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-list":{"get":{"tags":["CTC"],"summary":"\u4ea4\u6613\u5217\u8868","description":"\u4ea4\u6613\u5217\u8868","operationId":"\/ctc-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/filter"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-my-list":{"get":{"tags":["CTC"],"summary":"\u6211\u7684\u53d1\u5e03","description":"\u6211\u7684\u53d1\u5e03","operationId":"\/ctc-my-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/add-sell-order":{"post":{"tags":["CTC"],"summary":"\u53d1\u5e03\u5355","description":"\u53d1\u5e03\u5355","operationId":"\/add-sell-order","parameters":[{"$ref":"#\/components\/parameters\/Number"},{"$ref":"#\/components\/parameters\/IsAddress"},{"$ref":"#\/components\/parameters\/IsWechat"},{"$ref":"#\/components\/parameters\/IsAlipay"},{"$ref":"#\/components\/parameters\/IsBank"},{"$ref":"#\/components\/parameters\/PayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-order-stop":{"post":{"tags":["CTC"],"summary":"\u7ec8\u6b62","description":"\u7ec8\u6b62","operationId":"\/ctc-order-stop","parameters":[{"$ref":"#\/components\/parameters\/OrderId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-buy":{"post":{"tags":["CTC"],"summary":"\u8d2d\u4e70","description":"\u8d2d\u4e70","operationId":"\/ctc-buy","parameters":[{"$ref":"#\/components\/parameters\/OrderId"},{"$ref":"#\/components\/parameters\/Number"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-sell":{"post":{"tags":["CTC"],"summary":"\u51fa\u552e","description":"\u51fa\u552e","operationId":"\/ctc-sell","parameters":[{"$ref":"#\/components\/parameters\/OrderId"},{"$ref":"#\/components\/parameters\/IsAddress"},{"$ref":"#\/components\/parameters\/IsWechat"},{"$ref":"#\/components\/parameters\/IsAlipay"},{"$ref":"#\/components\/parameters\/IsBank"},{"$ref":"#\/components\/parameters\/AuthCode"},{"$ref":"#\/components\/parameters\/PayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-trade-list":{"get":{"tags":["CTC"],"summary":"\u8ba2\u5355\u5217\u8868","description":"\u8ba2\u5355\u5217\u8868","operationId":"\/ctc-trade-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-trade-my-list":{"get":{"tags":["CTC"],"summary":"\u8ba2\u5355\u5217\u8868(\u6c42\u8d2d\u4e0e\u51fa\u552e)","description":"\u8ba2\u5355\u5217\u8868(\u6c42\u8d2d\u4e0e\u51fa\u552e)","operationId":"\/ctc-trade-my-list","parameters":[{"$ref":"#\/components\/parameters\/order_type"},{"$ref":"#\/components\/parameters\/order_status"},{"$ref":"#\/components\/parameters\/min"},{"$ref":"#\/components\/parameters\/max"},{"$ref":"#\/components\/parameters\/start"},{"$ref":"#\/components\/parameters\/end"},{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-trade-detail":{"get":{"tags":["CTC"],"summary":"\u8ba2\u5355\u8be6\u60c5","description":"\u8ba2\u5355\u8be6\u60c5","operationId":"\/ctc-trade-detail","parameters":[{"$ref":"#\/components\/parameters\/OrderId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-trade-pay":{"post":{"tags":["CTC"],"summary":"\u4ed8\u6b3e","description":"\u4ed8\u6b3e","operationId":"\/ctc-trade-pay","parameters":[{"$ref":"#\/components\/parameters\/OrderId"},{"$ref":"#\/components\/parameters\/Imgs"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-pay-method":{"get":{"tags":["CTC"],"summary":"\u5404\u79cd\u914d\u7f6e","description":"\u5404\u79cd\u914d\u7f6e","operationId":"\/ctc-pay-method","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-confirm":{"post":{"tags":["CTC"],"summary":"\u786e\u8ba4\u6536\u6b3e","description":"\u786e\u8ba4\u6536\u6b3e","operationId":"\/ctc-confirm","parameters":[{"$ref":"#\/components\/parameters\/OrderId"},{"$ref":"#\/components\/parameters\/PayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-cancle":{"post":{"tags":["CTC"],"summary":"\u53d6\u6d88\u8ba2\u5355","description":"\u53d6\u6d88\u8ba2\u5355","operationId":"\/ctc-cancle","parameters":[{"$ref":"#\/components\/parameters\/OrderId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-info":{"get":{"tags":["CTC"],"summary":"\u8ba2\u5355\u4fe1\u606f","description":"\u8ba2\u5355\u4fe1\u606f","operationId":"\/ctc-info","parameters":[{"$ref":"#\/components\/parameters\/OrderId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-member-info":{"get":{"tags":["CTC"],"summary":"\u4e2a\u4eba\u8d44\u6599","description":"\u4e2a\u4eba\u8d44\u6599","operationId":"\/ctc-member-info","parameters":[{"$ref":"#\/components\/parameters\/OrderId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-appeal-reason":{"get":{"tags":["CTC"],"summary":"\u7533\u8bc9\u539f\u56e0","description":"\u7533\u8bc9\u539f\u56e0","operationId":"\/ctc-appeal-reason","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ctc-appeal":{"post":{"tags":["CTC"],"summary":"\u7533\u8bc9","description":"\u7533\u8bc9","operationId":"\/ctc-appeal","parameters":[{"$ref":"#\/components\/parameters\/ReasonId"},{"$ref":"#\/components\/parameters\/Content"},{"$ref":"#\/components\/parameters\/OrderId"},{"$ref":"#\/components\/parameters\/Imgs"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/get.ctc.info":{"get":{"tags":["CTC"],"summary":"","description":"ctc\u4fe1\u606f","operationId":"getCtcInfo","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/post.ctc.unfrozen":{"post":{"tags":["CTC"],"summary":"\u89e3\u51bb","description":"\u89e3\u51bb","operationId":"unfrozen","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/post.ctc.remain":{"get":{"tags":["CTC"],"summary":"\u63d0\u9192","description":"\u63d0\u9192","operationId":"remain","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/buy-dog-list":{"get":{"tags":["\u5927\u9ec4"],"summary":"\u8d2d\u4e70\u5927\u9ec4\u5217\u8868","description":"\u8d2d\u4e70\u5927\u9ec4\u5217\u8868","operationId":"\/buy-dog-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["\u5927\u9ec4"],"summary":"\u8d2d\u4e70\u5927\u9ec4","description":"\u8d2d\u4e70\u5927\u9ec4","operationId":"\/buy-dog-list","parameters":[{"$ref":"#\/components\/parameters\/dog_id"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-dog-stand_guard":{"post":{"tags":["\u5927\u9ec4"],"summary":"\u8bbe\u7f6e\u5927\u9ec4\u7ad9\u5c97","description":"\u8bbe\u7f6e\u5927\u9ec4\u7ad9\u5c97","operationId":"\/user-dog-stand_guard","parameters":[{"$ref":"#\/components\/parameters\/user_dog_id"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-dog-list":{"get":{"tags":["\u5927\u9ec4"],"summary":"\u6211\u7684\u5927\u9ec4\u5217\u8868","description":"\u6211\u7684\u5927\u9ec4\u5217\u8868","operationId":"\/user-dog-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-dog-is-stand-guard":{"get":{"tags":["\u5927\u9ec4"],"summary":"\u6b63\u5728\u7ad9\u5c97\u7684\u5927\u9ec4","description":"\u6b63\u5728\u7ad9\u5c97\u7684\u5927\u9ec4","operationId":"\/user-dog-is-stand-guard","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/notice-list":{"get":{"tags":["Common"],"summary":"\u6d88\u606f\u5217\u8868","description":"\u6d88\u606f\u5217\u8868","operationId":"\/notice-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/notice-detail":{"get":{"tags":["Common"],"summary":"\u6d88\u606f\u8be6\u60c5","description":"\u6d88\u606f\u8be6\u60c5","operationId":"\/notice-detail","parameters":[{"$ref":"#\/components\/parameters\/NoticeId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/post.read.all":{"post":{"tags":["Common"],"summary":"\u9605\u8bfb\u5168\u90e8","description":"\u9605\u8bfb\u5168\u90e8","operationId":"readAll","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/banner-list":{"get":{"tags":["Common"],"summary":"Banner\u5217\u8868","description":"Banner\u5217\u8868","operationId":"\/banner-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/qiniu-upload":{"get":{"tags":["Common"],"summary":"\u4e03\u725b\u4e0a\u4f20Token","description":"\u4e03\u725b\u4e0a\u4f20Token","operationId":"\/qiniu-upload","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/plat-setting":{"get":{"tags":["Common"],"summary":"\u5e73\u53f0\u8bbe\u7f6e","description":"\u5e73\u53f0\u8bbe\u7f6e","operationId":"\/plat-setting","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/common-question":{"get":{"tags":["Common"],"summary":"\u5e38\u89c1\u95ee\u9898","description":"\u5e38\u89c1\u95ee\u9898","operationId":"\/common-question","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-doc":{"get":{"tags":["Common"],"summary":"\u5173\u4e8e\u6211\u4eec&\u7528\u6237\u534f\u8bae&\u652f\u4ed8\u534f\u8bae","description":"\u5173\u4e8e\u6211\u4eec&\u7528\u6237\u534f\u8bae&\u652f\u4ed8\u534f\u8bae","operationId":"\/member-doc","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/plat-server":{"get":{"tags":["Common"],"summary":"\u5ba2\u670d","description":"\u5ba2\u670d","operationId":"\/plat-server","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/qq":{"get":{"tags":["Common"],"summary":"qq","description":"qq","operationId":"\/qq","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/captcha":{"get":{"tags":["Common"],"summary":"\u56fe\u5f62\u9a8c\u8bc1\u7801","description":"\u56fe\u5f62\u9a8c\u8bc1\u7801","operationId":"captcha","parameters":[{"$ref":"#\/components\/parameters\/rand"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/get.update":{"get":{"tags":["Common"],"summary":"\u68c0\u67e5\u66f4\u65b0","description":"\u68c0\u67e5\u66f4\u65b0","operationId":"update","parameters":[{"$ref":"#\/components\/parameters\/version"},{"$ref":"#\/components\/parameters\/device"},{"$ref":"#\/components\/parameters\/version_type"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/get.download":{"get":{"tags":["Common"],"summary":"\u4e0b\u8f7d\u5730\u5740","description":"\u4e0b\u8f7d\u5730\u5740","operationId":"download","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-forget-paypassword":{"post":{"tags":["Member"],"summary":"\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801","description":"\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801","operationId":"\/member-forget-paypassword","parameters":[{"$ref":"#\/components\/parameters\/Phone"},{"$ref":"#\/components\/parameters\/AuthCode"},{"$ref":"#\/components\/parameters\/NewPayPassword"},{"$ref":"#\/components\/parameters\/RepeatPayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-forget-password":{"post":{"tags":["Member"],"summary":"\u5fd8\u8bb0\u5bc6\u7801","description":"\u5fd8\u8bb0\u5bc6\u7801","operationId":"\/member-forget-password","parameters":[{"$ref":"#\/components\/parameters\/Phone"},{"$ref":"#\/components\/parameters\/AuthCode"},{"$ref":"#\/components\/parameters\/NewPassword"},{"$ref":"#\/components\/parameters\/RepeatPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-modify-avatar":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u5934\u50cf","description":"\u4fee\u6539\u5934\u50cf","operationId":"\/member-modify-avatar","parameters":[{"$ref":"#\/components\/parameters\/Avatar"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-modify-nick":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u6635\u79f0","description":"\u4fee\u6539\u6635\u79f0","operationId":"\/member-modify-nick","parameters":[{"$ref":"#\/components\/parameters\/NickName"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-modify-paypassword":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u4ea4\u6613\u5bc6\u7801","description":"\u4fee\u6539\u4ea4\u6613\u5bc6\u7801","operationId":"\/member-modify-paypassword","parameters":[{"$ref":"#\/components\/parameters\/OldPayPassword"},{"$ref":"#\/components\/parameters\/PayPassword"},{"$ref":"#\/components\/parameters\/RepeatPayPassword"},{"$ref":"#\/components\/parameters\/AuthCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-set-paypassword":{"post":{"tags":["Member"],"summary":"\u8bbe\u7f6e\u4ea4\u6613\u5bc6\u7801","description":"\u8bbe\u7f6e\u4ea4\u6613\u5bc6\u7801","operationId":"\/member-set-paypassword","parameters":[{"$ref":"#\/components\/parameters\/PayPassword"},{"$ref":"#\/components\/parameters\/RepeatPayPassword"},{"$ref":"#\/components\/parameters\/AuthCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-modify-password":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u767b\u5f55\u5bc6\u7801","description":"\u4fee\u6539\u767b\u5f55\u5bc6\u7801","operationId":"\/member-modify-password","parameters":[{"$ref":"#\/components\/parameters\/OldPassword"},{"$ref":"#\/components\/parameters\/Password"},{"$ref":"#\/components\/parameters\/RepeatPassword"},{"$ref":"#\/components\/parameters\/AuthCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/post.modifyphone":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u624b\u673a\u53f7","description":"\u4fee\u6539\u624b\u673a\u53f7","operationId":"ModifyPhone","parameters":[{"$ref":"#\/components\/parameters\/OldAuthCode"},{"$ref":"#\/components\/parameters\/NewAuthCode"},{"$ref":"#\/components\/parameters\/NewPhone"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/team":{"get":{"tags":["Member"],"summary":"\u56e2\u961f","description":"\u56e2\u961f","operationId":"\/team","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/invite-list":{"get":{"tags":["Member"],"summary":"\u6709\u6548\u76f4\u63a8\u5217\u8868","description":"\u6709\u6548\u76f4\u63a8\u5217\u8868","operationId":"\/invite-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/auth_status"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-info":{"get":{"tags":["Member"],"summary":"\u7528\u6237\u8d44\u6599","description":"\u7528\u6237\u8d44\u6599","operationId":"\/member-info","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-login":{"post":{"tags":["Member"],"summary":"\u8d26\u53f7\u5bc6\u7801\u767b\u5f55","description":"\u8d26\u53f7\u5bc6\u7801\u767b\u5f55","operationId":"\/member-login","parameters":[{"$ref":"#\/components\/parameters\/Phone"},{"$ref":"#\/components\/parameters\/Password"},{"$ref":"#\/components\/parameters\/ClientId"},{"$ref":"#\/components\/parameters\/captcha"},{"$ref":"#\/components\/parameters\/rand"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-register":{"post":{"tags":["Member"],"summary":"\u6ce8\u518c","description":"\u6ce8\u518c","operationId":"\/member-register","parameters":[{"$ref":"#\/components\/parameters\/Phone"},{"$ref":"#\/components\/parameters\/Password"},{"$ref":"#\/components\/parameters\/RepeatPassword"},{"$ref":"#\/components\/parameters\/InviteCode"},{"$ref":"#\/components\/parameters\/AuthCode"},{"$ref":"#\/components\/parameters\/ClientId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/finace-list":{"get":{"tags":["Stream"],"summary":"\u8d44\u91d1\u53d8\u52a8\u5217\u8868","description":"\u8d44\u91d1\u53d8\u52a8\u5217\u8868","operationId":"\/finace-list","parameters":[{"$ref":"#\/components\/parameters\/min"},{"$ref":"#\/components\/parameters\/max"},{"$ref":"#\/components\/parameters\/year"},{"$ref":"#\/components\/parameters\/month"},{"$ref":"#\/components\/parameters\/TxType"},{"$ref":"#\/components\/parameters\/TurnoverType"},{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/finace-molds":{"get":{"tags":["Stream"],"summary":"\u8d44\u91d1\u53d8\u52a8\u7c7b\u578b","description":"\u8d44\u91d1\u53d8\u52a8\u7c7b\u578b","operationId":"\/finace-molds","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/self":{"get":{"tags":["Member"],"summary":"\u6211\u7684","description":"\u6211\u7684","operationId":"\/self","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/bind-bank":{"post":{"tags":["Member"],"summary":"\u7ed1\u5b9a\u94f6\u884c\u5361","description":"\u7ed1\u5b9a\u94f6\u884c\u5361","operationId":"\/bind-bank","parameters":[{"$ref":"#\/components\/parameters\/RealName"},{"$ref":"#\/components\/parameters\/Phone"},{"$ref":"#\/components\/parameters\/Bank"},{"$ref":"#\/components\/parameters\/Card"},{"$ref":"#\/components\/parameters\/AuthCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/modify-bank":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u94f6\u884c\u5361","description":"\u4fee\u6539\u94f6\u884c\u5361","operationId":"\/modify-bank","parameters":[{"$ref":"#\/components\/parameters\/RealName"},{"$ref":"#\/components\/parameters\/Phone"},{"$ref":"#\/components\/parameters\/Bank"},{"$ref":"#\/components\/parameters\/Card"},{"$ref":"#\/components\/parameters\/AuthCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/bind-wechat":{"post":{"tags":["Member"],"summary":"\u7ed1\u5b9a\u5fae\u4fe1","description":"\u7ed1\u5b9a\u5fae\u4fe1","operationId":"\/bind-wechat","parameters":[{"$ref":"#\/components\/parameters\/Account"},{"$ref":"#\/components\/parameters\/QrCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/modify-wechat":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u5fae\u4fe1","description":"\u4fee\u6539\u5fae\u4fe1","operationId":"\/modify-wechat","parameters":[{"$ref":"#\/components\/parameters\/Account"},{"$ref":"#\/components\/parameters\/QrCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/bind-alipay":{"post":{"tags":["Member"],"summary":"\u7ed1\u5b9a\u652f\u4ed8\u5b9d","description":"\u7ed1\u5b9a\u652f\u4ed8\u5b9d","operationId":"\/bind-alipay","parameters":[{"$ref":"#\/components\/parameters\/Account"},{"$ref":"#\/components\/parameters\/QrCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/modify-alipay":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u652f\u4ed8\u5b9d","description":"\u4fee\u6539\u652f\u4ed8\u5b9d","operationId":"\/modify-alipay","parameters":[{"$ref":"#\/components\/parameters\/Account"},{"$ref":"#\/components\/parameters\/QrCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/bind-adress":{"post":{"tags":["Member"],"summary":"\u7ed1\u5b9ausdt\u5730\u5740","description":"\u7ed1\u5b9ausdt\u5730\u5740","operationId":"BindAddress","parameters":[{"$ref":"#\/components\/parameters\/Account"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/modify-adress":{"post":{"tags":["Member"],"summary":"\u4fee\u6539usdt\u5730\u5740","description":"\u4fee\u6539usdt\u5730\u5740","operationId":"\/modify-address","parameters":[{"$ref":"#\/components\/parameters\/Account"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/bind-pay-info":{"get":{"tags":["Member"],"summary":"\u652f\u4ed8\u4fe1\u606f","description":"\u652f\u4ed8\u4fe1\u606f","operationId":"\/bind-pay-info","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/auth-member":{"post":{"tags":["Member"],"summary":"\u5b9e\u540d\u8ba4\u8bc1","description":"\u5b9e\u540d\u8ba4\u8bc1","operationId":"\/auth-member","parameters":[{"$ref":"#\/components\/parameters\/IdCard"},{"$ref":"#\/components\/parameters\/AuthName"},{"$ref":"#\/components\/parameters\/MemberIdCardVideo"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/ocr":{"post":{"tags":["Member"],"summary":"OCR\u8bc6\u522b","description":"OCR\u8bc6\u522b","operationId":"\/ocr","parameters":[{"$ref":"#\/components\/parameters\/MemberIdCardFrontImage"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/auth-info":{"get":{"tags":["Member"],"summary":"\u5b9e\u540d\u8ba4\u8bc1","description":"\u5b9e\u540d\u8ba4\u8bc1","operationId":"\/auth-info","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/auth-safe":{"post":{"tags":["Member"],"summary":"\u5b89\u5168","description":"\u5b89\u5168","operationId":"\/auth-safe","parameters":[{"$ref":"#\/components\/parameters\/OpenPayPass"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/wechat-group":{"get":{"tags":["Member"],"summary":"\u5fae\u4fe1\u7fa4","description":"\u5fae\u4fe1\u7fa4","operationId":"\/wechat-group","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/get.tx.power":{"get":{"tags":["Member"],"summary":"\u4ea4\u6613\u7279\u6743","description":"\u4ea4\u6613\u7279\u6743","operationId":"txPower","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/get.share":{"get":{"tags":["Member"],"summary":"\u5206\u4eab\u9875\u80cc\u666f\u56fe","description":"\u5206\u4eab\u9875\u80cc\u666f\u56fe","operationId":"share","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-giveaway-list":{"get":{"tags":["Member"],"summary":"\u8d60\u9001\u8d26\u6237\u8bb0\u5f55","description":"\u8d60\u9001\u8d26\u6237\u8bb0\u5f55","operationId":"member-giveaway-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/sapling-list":{"get":{"tags":["\u82b1\u7530"],"summary":"\u83b7\u53d6\u53ef\u8d2d\u4e70\u82b1\u7530\u5217\u8868","description":"\u83b7\u53d6\u53ef\u8d2d\u4e70\u82b1\u7530\u5217\u8868","operationId":"\/sapling-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sapling-details":{"get":{"tags":["\u82b1\u7530"],"summary":"\u83b7\u53d6\u82b1\u7530\u8be6\u60c5","description":"\u83b7\u53d6\u82b1\u7530\u8be6\u60c5","operationId":"\/sapling-details","parameters":[{"$ref":"#\/components\/parameters\/sapling_id"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-power-list":{"get":{"tags":["\u82b1\u7530"],"summary":"\u7528\u6237\u82b1\u7530\u4ea9\u6570\u5217\u8868","description":"\u7528\u6237\u82b1\u7530\u4ea9\u6570\u5217\u8868","operationId":"\/user-power-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sapling-user-home":{"get":{"tags":["\u9996\u9875"],"summary":"\u9996\u9875","description":"\u9996\u9875","operationId":"\/sapling-user-home","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/userHome"}}}}},"security":[{"Authorization":[]}]}},"\/sapling-user-list":{"get":{"tags":["\u82b1\u7530"],"summary":"\u7528\u6237\u82b1\u7530\u5217\u8868","description":"\u7528\u6237\u82b1\u7530\u5217\u8868","operationId":"\/sapling-user-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sapling-user-details":{"get":{"tags":["\u82b1\u7530"],"summary":"\u7528\u6237\u82b1\u7530\u8be6\u60c5","description":"\u7528\u6237\u82b1\u7530\u8be6\u60c5","operationId":"\/sapling-user-details","parameters":[{"$ref":"#\/components\/parameters\/sapling_id"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sapling-buy":{"post":{"tags":["\u82b1\u7530"],"summary":"\u8d2d\u4e70\u82b1\u7530","description":"\u8d2d\u4e70\u82b1\u7530","operationId":"\/sapling-buy","parameters":[{"$ref":"#\/components\/parameters\/sapling_id"},{"$ref":"#\/components\/parameters\/PayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-my-team-sapling-info":{"get":{"tags":["\u56e2\u961f\u4fe1\u606f"],"summary":"\u56e2\u961f\u4fe1\u606f","description":"\u56e2\u961f\u4fe1\u606f","operationId":"\/user-my-team-sapling-info","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-auth-giveAway":{"get":{"tags":["\u82b1\u7530"],"summary":"\u5b9e\u540d\u8ba4\u8bc1\u540e\u8d60\u9001\u82b1\u7530","description":"\u5b9e\u540d\u8ba4\u8bc1\u540e\u8d60\u9001\u82b1\u7530","operationId":"\/user-auth-giveAway","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-auth-is-giveAway":{"get":{"tags":["\u82b1\u7530"],"summary":"\u83b7\u53d6\u7528\u6237\u662f\u5426\u9886\u53d6\u82b1\u7530","description":"\u83b7\u53d6\u7528\u6237\u662f\u5426\u9886\u53d6\u82b1\u7530","operationId":"\/user-auth-is-giveAway","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-buy-mouse":{"post":{"tags":["\u82b1\u9f20"],"summary":"\u8d2d\u4e70\u82b1\u9f20","description":"\u8d2d\u4e70\u82b1\u9f20","operationId":"\/user-buy-mouse","parameters":[{"$ref":"#\/components\/parameters\/mouse_id"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-mouse-list":{"get":{"tags":["\u82b1\u9f20"],"summary":"\u6211\u7684\u8001\u9f20\u5217\u8868","description":"\u6211\u7684\u8001\u9f20\u5217\u8868","operationId":"\/user-mouse-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-mouse-steal-users":{"get":{"tags":["\u82b1\u9f20"],"summary":"\u5077\u53d6\u7528\u6237\u5217\u8868","description":"\u5077\u53d6\u7528\u6237\u5217\u8868","operationId":"\/user-mouse-steal-users","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-mouse-steal":{"post":{"tags":["\u82b1\u9f20"],"summary":"\u82b1\u9f20\u5077\u53d6\u6536\u76ca","description":"\u82b1\u9f20\u5077\u53d6\u6536\u76ca","operationId":"\/user-mouse-steal","parameters":[{"$ref":"#\/components\/parameters\/mouse_id"},{"$ref":"#\/components\/parameters\/steal_user_id"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/buy-mouse-list":{"get":{"tags":["\u82b1\u9f20"],"summary":"\u83b7\u53d6\u53ef\u8d2d\u4e70\u82b1\u9f20","description":"\u83b7\u53d6\u53ef\u8d2d\u4e70\u82b1\u9f20","operationId":"\/buy-mouse-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/product-detail":{"get":{"tags":["Product"],"summary":"\u77ff\u673a\u8be6\u60c5","description":"\u77ff\u673a\u8be6\u60c5","operationId":"\/product-detail","parameters":[{"$ref":"#\/components\/parameters\/ProductId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/product-newreg":{"get":{"tags":["Product"],"summary":"\u65b0\u4eba\u798f\u5229","description":"\u65b0\u4eba\u798f\u5229","operationId":"\/product-newreg","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/product-purchase":{"post":{"tags":["Product"],"summary":"\u8d2d\u4e70\u77ff\u673a","description":"\u8d2d\u4e70\u77ff\u673a","operationId":"\/product-purchase","parameters":[{"$ref":"#\/components\/parameters\/ProductId"},{"$ref":"#\/components\/parameters\/Number"},{"$ref":"#\/components\/parameters\/PayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/product-draw":{"post":{"tags":["Product"],"summary":"\u9886\u53d6\u6ce8\u518c\u9001\u7684\u77ff\u673a","description":"\u9886\u53d6\u6ce8\u518c\u9001\u7684\u77ff\u673a","operationId":"\/product-draw","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/product-rush":{"get":{"tags":["Product"],"summary":"\u9650\u65f6\u62a2\u8d2d\u5217\u8868","description":"\u9650\u65f6\u62a2\u8d2d\u5217\u8868","operationId":"\/product-rush","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/product-rush-purchase":{"post":{"tags":["Product"],"summary":"\u9884\u7ea6\u62a2\u8d2d","description":"\u9884\u7ea6\u62a2\u8d2d","operationId":"\/product-rush-purchase","parameters":[{"$ref":"#\/components\/parameters\/RushId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/free-list":{"get":{"tags":["Product"],"summary":"\u91ca\u653e\u8bb0\u5f55","description":"\u91ca\u653e\u8bb0\u5f55","operationId":"\/free-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/balance-withdraw":{"post":{"tags":["Product"],"summary":"\u63d0\u73b0","description":"\u63d0\u73b0","operationId":"\/balance-withdraw","parameters":[{"$ref":"#\/components\/parameters\/WithdrawNumber"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/balance-withdraw-detail":{"get":{"tags":["Product"],"summary":"\u4ea7\u51fa\u63d0\u73b0","description":"\u4ea7\u51fa\u63d0\u73b0","operationId":"\/balance-withdraw-detail","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/output-list":{"get":{"tags":["Product"],"summary":"\u4ea7\u51fa\u8bb0\u5f55","description":"\u4ea7\u51fa\u8bb0\u5f55","operationId":"\/output-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/OutputType"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/output-sum":{"get":{"tags":["Product"],"summary":"\u603b\u4ea7\u51fa","description":"\u603b\u4ea7\u51fa","operationId":"\/output-sum","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/plan-recored":{"get":{"tags":["Member"],"summary":"\u9884\u7ea6\u8bb0\u5f55","description":"\u9884\u7ea6\u8bb0\u5f55","operationId":"\/plan-recored","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/PlanType"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/my-product":{"get":{"tags":["Member"],"summary":"\u6211\u7684\u77ff\u673a","description":"\u6211\u7684\u77ff\u673a","operationId":"\/my-product","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/MyProductType"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/my-product-detail":{"get":{"tags":["Member"],"summary":"\u77ff\u673a\u8be6\u60c5","description":"\u77ff\u673a\u8be6\u60c5","operationId":"\/my-product-detail","parameters":[{"$ref":"#\/components\/parameters\/MemberProductId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/my-output-list":{"get":{"tags":["Member"],"summary":"\u4ea7\u51fa\u8bb0\u5f55","description":"\u4ea7\u51fa\u8bb0\u5f55","operationId":"\/output-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/MemberProductId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/rush-log":{"get":{"tags":["Product"],"summary":"\u5f80\u671f\u8bb0\u5f55","description":"\u5f80\u671f\u8bb0\u5f55","operationId":"\/rush-log","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/rush-success":{"get":{"tags":["Product"],"summary":"\u4e2d\u5956\u540d\u5355","description":"\u4e2d\u5956\u540d\u5355","operationId":"\/rush-success","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/AddDate"},{"$ref":"#\/components\/parameters\/RushId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sms-modify-paypass":{"post":{"tags":["SMS"],"summary":"\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801\u9a8c\u8bc1\u7801","description":"\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801\u9a8c\u8bc1\u7801","operationId":"\/sms-modify-paypass","parameters":[{"$ref":"#\/components\/parameters\/Phone"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/sms-modify-pass":{"post":{"tags":["SMS"],"summary":"\u5fd8\u8bb0\u5bc6\u7801\u9a8c\u8bc1\u7801","description":"\u5fd8\u8bb0\u5bc6\u7801\u9a8c\u8bc1\u7801","operationId":"\/sms-modify-pass","parameters":[{"$ref":"#\/components\/parameters\/Phone"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/sms-register-code":{"post":{"tags":["SMS"],"summary":"\u53d1\u9001\u6ce8\u518c\u9a8c\u8bc1\u7801","description":"\u53d1\u9001\u6ce8\u518c\u9a8c\u8bc1\u7801","operationId":"\/sms-register-code","parameters":[{"$ref":"#\/components\/parameters\/Phone"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/sms-bindpay-code":{"post":{"tags":["SMS"],"summary":"\u7ed1\u5b9a\u652f\u4ed8\u9a8c\u8bc1\u7801","description":"\u7ed1\u5b9a\u652f\u4ed8\u9a8c\u8bc1\u7801","operationId":"\/sms-bindpay-code","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sms-setpaypass-code":{"post":{"tags":["SMS"],"summary":"\u8bbe\u7f6e\u4ea4\u6613\u5bc6\u7801\u9a8c\u8bc1\u7801","description":"\u8bbe\u7f6e\u4ea4\u6613\u5bc6\u7801\u9a8c\u8bc1\u7801","operationId":"\/sms-setpaypass-code","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sms-unbind-code":{"post":{"tags":["SMS"],"summary":"\u53d1\u9001\u89e3\u7ed1\u624b\u673a\u9a8c\u8bc1\u7801","description":"\u53d1\u9001\u89e3\u7ed1\u624b\u673a\u9a8c\u8bc1\u7801","operationId":"unbindCode","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sms-vcode":{"post":{"tags":["SMS"],"summary":"\u53d1\u9001\u9a8c\u8bc1\u7801","description":"\u53d1\u9001\u9a8c\u8bc1\u7801","operationId":"vCode","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/store":{"get":{"tags":["\u5546\u5e97"],"summary":"\u5546\u5e97\u5217\u8868","description":"\u5546\u5e97\u5217\u8868","operationId":"\/store","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/trade-purchase":{"post":{"tags":["Trade"],"summary":"\u8d2d\u4e70","description":"\u8d2d\u4e70","operationId":"\/trade-purchase","parameters":[{"$ref":"#\/components\/parameters\/CoinNumber"},{"$ref":"#\/components\/parameters\/PayMethod"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/trade-sell":{"post":{"tags":["Trade"],"summary":"\u5356","description":"\u5356","operationId":"\/trade-sell","parameters":[{"$ref":"#\/components\/parameters\/CoinNumber"},{"$ref":"#\/components\/parameters\/PayPassword"},{"$ref":"#\/components\/parameters\/PayMethod"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/trade-list":{"get":{"tags":["Trade"],"summary":"\u8ba2\u5355\u8bb0\u5f55","description":"\u8ba2\u5355\u8bb0\u5f55","operationId":"\/trade-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/TradeType"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/trade-detail":{"get":{"tags":["Trade"],"summary":"\u8ba2\u5355\u8be6\u60c5","description":"\u8ba2\u5355\u8be6\u60c5","operationId":"\/trade-detail","parameters":[{"$ref":"#\/components\/parameters\/OrderNumber"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/trade-pay":{"post":{"tags":["Trade"],"summary":"\u786e\u8ba4\u4ed8\u6b3e","description":"\u786e\u8ba4\u4ed8\u6b3e","operationId":"\/trade-pay","parameters":[{"$ref":"#\/components\/parameters\/OrderNumber"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/trade-collections":{"post":{"tags":["Trade"],"summary":"\u786e\u8ba4\u6536\u6b3e\u5e76\u653e\u5e01","description":"\u786e\u8ba4\u6536\u6b3e\u5e76\u653e\u5e01","operationId":"\/trade-collections","parameters":[{"$ref":"#\/components\/parameters\/OrderNumber"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/trade-cancle":{"post":{"tags":["Trade"],"summary":"\u53d6\u6d88\u8ba2\u5355","description":"\u53d6\u6d88\u8ba2\u5355","operationId":"\/trade-cancle","parameters":[{"$ref":"#\/components\/parameters\/OrderNumber"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/user-income-list":{"get":{"tags":["\u4ed3\u5e93"],"summary":"\u4ed3\u5e93\u8d26\u5355\u8bb0\u5f55","description":"\u4ed3\u5e93\u8d26\u5355\u8bb0\u5f55","operationId":"\/user-income-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/beginTime"},{"$ref":"#\/components\/parameters\/endTime"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["\u4ed3\u5e93"],"summary":"\u8f6c\u51fa\u81f3\u8d26\u6237","description":"\u8f6c\u51fa\u81f3\u8d26\u6237","operationId":"\/user-income-list","parameters":[{"$ref":"#\/components\/parameters\/amount"},{"$ref":"#\/components\/parameters\/pay_password"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}}},"components":{"schemas":{"success":{"type":"object","allOf":[{"required":["id"],"properties":{"status":{"description":"\u72b6\u6001","type":"integer","default":"1"},"msg":{"description":"\u4fe1\u606f","type":"string","default":"\u64cd\u4f5c\u6210\u529f"},"data":{"type":"object","allOf":[]}},"type":"object"}]},"error":{"properties":{"status":{"type":"integer","format":"int32"},"msg":{"type":"string"}},"type":"object"},"MachineDetail":{"type":"object","allOf":[{"properties":{"status":{"description":"\u72b6\u6001","type":"integer","default":"1"},"msg":{"description":"\u4fe1\u606f","type":"string","default":"\u64cd\u4f5c\u6210\u529f"},"data":{"type":"object","allOf":[{"properties":{"Period":{"description":"\u671f\u6b21","type":"integer"},"LuckJackpotListId":{"description":"\u5173\u8054\u5956\u6c60ID","type":"integer"},"MemberId":{"description":"\u7528\u6237ID","type":"integer"},"AddTime":{"description":"\u6dfb\u52a0\u65f6\u95f4","type":"integer"},"Money":{"description":"\u53d8\u52a8\u91d1\u989d\uff08<0\u672a\u4e2d\u5956  >0\u4e2d\u5956\uff09","type":"decimal"},"mobile":{"description":"\u5173\u8054\u5956\u6c60ID","type":"integer"}},"type":"object"}]}},"type":"object"}]},"userHome":{"type":"object","allOf":[{"properties":{"status":{"description":"\u72b6\u6001","type":"integer","default":"1"},"msg":{"description":"\u4fe1\u606f","type":"string","default":"\u64cd\u4f5c\u6210\u529f"},"data":{"type":"object","allOf":[{"properties":{"sapling":{"description":"\u6811\u82d7\u672c\u8eab","type":"integer"},"details":{"description":"\u6839\u636edetails\u4e2d\u5bf9\u8c61\u751f\u6210\u6c14\u6ce1\uff0c\u5982is_watering=0 \u8bf4\u660edetails\u4e0b\u7684\u6536\u76ca\u672a\u6d47\u6c34\uff0c\u4e0d\u80fd\u9886\u53d6","type":"integer"},"user":{"description":"\u7528\u6237\u5468\u8fb9\u4fe1\u606f","type":"integer"},"package":{"description":"\u7528\u6237\u7684\u673a\u5668\u4eba","type":"integer"},"level":{"description":"\u7528\u6237\u7684\u7b49\u7ea7","type":"integer"},"other":{"description":"\u5176\u4ed6\u516c\u5171\uff0c\u89c4\u5219\u7b49","type":"integer"}},"type":"object"}]}},"type":"object"}]},"member-token":{"title":"\u7528\u6237Token","type":"object"}},"parameters":{"ArticleCallIndex":{"name":"CallIndex","in":"query","description":"\u6587\u7ae0\u7d22\u5f15\uff08\u5546\u5b66\u9662school \u7528\u6237\u534f\u8baeuser_agreement \u5173\u4e8e\u6211\u4eecabout_us \u4ea4\u6613\u89c4\u5219tx_rule\uff09","required":true,"schema":{"type":"string"}},"ArticleId":{"name":"Id","in":"query","description":"\u6587\u7ae0ID","required":true,"schema":{"type":"integer"}},"keyword":{"name":"keyword","in":"query","description":"\u641c\u7d22\u5173\u952e\u8bcd","required":false,"schema":{"type":"string"}},"CoinId":{"name":"Id","in":"query","description":"\u5e01\u79cdId","required":true,"schema":{"type":"integer"}},"WithdrawId":{"name":"Id","in":"query","description":"\u63d0\u73b0ID","required":true,"schema":{"type":"integer"}},"RechargeId":{"name":"Id","in":"query","description":"\u5145\u503cID","required":true,"schema":{"type":"integer"}},"Money":{"name":"Money","in":"query","description":"\u91d1\u989d","required":true,"schema":{"type":"string"}},"Address":{"name":"Address","in":"query","description":"\u5730\u5740","required":true,"schema":{"type":"string"}},"Memo":{"name":"Memo","in":"query","description":"\u63d0\u73b0\u5907\u6ce8","required":false,"schema":{"type":"string"}},"CoinNumber":{"name":"Number","in":"query","description":"\u6570\u91cf","required":true,"schema":{"type":"string"}},"Type":{"name":"Type","in":"query","description":"0\u5168\u90e8 1\u5145\u503c 2\u63d0\u73b0","required":true,"schema":{"type":"integer"}},"OldAuthCode":{"name":"OldAuthCode","in":"query","description":"\u65e7\u624b\u673a\u53f7\u9a8c\u8bc1\u7801","required":true,"schema":{"type":"integer"}},"NewAuthCode":{"name":"NewAuthCode","in":"query","description":"\u65b0\u624b\u673a\u53f7\u9a8c\u8bc1\u7801","required":true,"schema":{"type":"integer"}},"NewPhone":{"name":"NewPhone","in":"query","description":"\u65b0\u624b\u673a\u53f7","required":true,"schema":{"type":"integer"}},"order_type":{"name":"order_type","in":"query","description":"\u8ba2\u5355\u7c7b\u578b\uff080\u5168\u90e8 1\u6c42\u8d2d 2\u51fa\u552e\uff09","required":false,"schema":{"type":"integer"}},"order_status":{"name":"order_status","in":"query","description":"\u8ba2\u5355\u72b6\u6001 0\u5168\u90e8 1\u5f85\u4ed8\u6b3e 2\u5f85\u786e\u8ba4 3\u5b8c\u6210 4\u53d6\u6d88 5\u7533\u8bc9","required":false,"schema":{"type":"integer"}},"min":{"name":"min","in":"query","description":"\u6700\u5c0f\u6570\u91cf","required":false,"schema":{"type":"integer"}},"max":{"name":"max","in":"query","description":"\u6700\u5927\u6570\u91cf","required":false,"schema":{"type":"integer"}},"start":{"name":"start","in":"query","description":"\u5f00\u59cb\u65f6\u95f4","required":false,"schema":{"type":"integer"}},"end":{"name":"end","in":"query","description":"\u7ed3\u675f\u65f6\u95f4","required":false,"schema":{"type":"integer"}},"TxType":{"name":"TxType","in":"query","description":"\u4ea4\u6613\u7c7b\u578b\uff080\u5168\u90e8 1\u8f6c\u5165 2\u8f6c\u51fa\uff09","required":false,"schema":{"type":"integer"}},"year":{"name":"year","in":"query","description":"\u5e74\u4efd","required":false,"schema":{"type":"integer"}},"month":{"name":"month","in":"query","description":"\u6708\u4efd","required":false,"schema":{"type":"integer"}},"page":{"name":"page","in":"query","description":"\u9875\u6570","required":true,"schema":{"type":"integer","format":"int64"}},"count":{"name":"count","in":"query","description":"\u6761\u6570","required":true,"schema":{"type":"integer","format":"int64"}},"Number":{"name":"Number","in":"query","description":"\u6570\u91cf","required":true,"schema":{"type":"string"}},"NoticeId":{"name":"Id","in":"query","description":"\u6d88\u606fID","required":true,"schema":{"type":"integer"}},"WithdrawNumber":{"name":"Number","in":"query","description":"\u63d0\u73b0\u6570\u91cf","required":true,"schema":{"type":"string"}},"Version":{"name":"Version","in":"query","description":"\u7248\u672c","required":true,"schema":{"type":"string"}},"ReasonId":{"name":"ReasonId","in":"query","description":"\u539f\u56e0Id","required":true,"schema":{"type":"integer"}},"Content":{"name":"Content","in":"query","description":"\u5185\u5bb9","required":true,"schema":{"type":"string"}},"version":{"name":"version","in":"query","description":"\u7248\u672c(\u9ed8\u8ba41.0.0)","required":false,"schema":{"type":"string"}},"device":{"name":"device","in":"query","description":"\u8bbe\u5907(\u9ed8\u8ba4:android,ios)","required":false,"schema":{"type":"string"}},"version_type":{"name":"version_type","in":"query","description":"\u8bbe\u5907\u7c7b\u578b(base,alpha,beta,\u9ed8\u8ba4:RC,release)","required":false,"schema":{"type":"string"}},"rand":{"name":"rand","in":"query","description":"\u968f\u673a\u6570","required":true,"schema":{"type":"string"}},"dog_id":{"name":"dog_id","in":"query","description":"\u5927\u9ec4\u7f16\u53f7","required":true,"schema":{"type":"string"}},"user_dog_id":{"name":"user_dog_id","in":"query","description":"\u7528\u6237\u5927\u9ec4\u7f16\u53f7","required":true,"schema":{"type":"string"}},"beginTime":{"name":"beginTime","in":"query","description":"\u5f00\u59cb\u65f6\u95f4","required":true,"schema":{"type":"string"}},"endTime":{"name":"endTime","in":"query","description":"\u7ed3\u675f\u65f6\u95f4","required":true,"schema":{"type":"string"}},"amount":{"name":"amount","in":"query","description":"\u91d1\u989d","required":true,"schema":{"type":"float"}},"pay_password":{"name":"pay_password","in":"query","description":"\u652f\u4ed8\u5bc6\u7801","required":true,"schema":{"type":"string"}},"Phone":{"name":"Phone","in":"query","description":"\u624b\u673a\u53f7","required":true,"schema":{"type":"integer"}},"Password":{"name":"Password","in":"query","description":"\u5bc6\u7801","required":true,"schema":{"type":"string"}},"RepeatPassword":{"name":"RepeatPassword","in":"query","description":"\u91cd\u590d\u5bc6\u7801","required":false,"schema":{"type":"string"}},"PayPassword":{"name":"PayPassword","in":"query","description":"\u652f\u4ed8\u5bc6\u7801","required":true,"schema":{"type":"string"}},"RepeatPayPassword":{"name":"RepeatPayPassword","in":"query","description":"\u91cd\u590d\u652f\u4ed8\u5bc6\u7801","required":false,"schema":{"type":"string"}},"InviteCode":{"name":"InviteCode","in":"query","description":"\u9080\u8bf7\u7801","required":false,"schema":{"type":"integer"}},"AuthCode":{"name":"AuthCode","in":"query","description":"\u9a8c\u8bc1\u7801","required":true,"schema":{"type":"integer"}},"OldPassword":{"name":"OldPassword","in":"query","description":"\u539f\u5bc6\u7801","required":true,"schema":{"type":"string"}},"OldPayPassword":{"name":"OldPayPassword","in":"query","description":"\u539f\u4ea4\u6613\u5bc6\u7801","required":true,"schema":{"type":"string"}},"NickName":{"name":"NickName","in":"query","description":"\u6635\u79f0","required":true,"schema":{"type":"string"}},"Avatar":{"name":"Avatar","in":"query","description":"\u5934\u50cf","required":true,"schema":{"type":"string"}},"NewPassword":{"name":"NewPassword","in":"query","description":"\u65b0\u5bc6\u7801","required":true,"schema":{"type":"string"}},"NewPayPassword":{"name":"NewPayPassword","in":"query","description":"\u65b0\u4ea4\u6613\u5bc6\u7801","required":true,"schema":{"type":"string"}},"TurnoverType":{"name":"Type","in":"query","description":"\u7c7b\u578bId 0\u4e3a\u5168\u90e8","required":false,"schema":{"type":"integer"}},"RealName":{"name":"Name","in":"query","description":"\u6301\u5361\u4eba","required":false,"schema":{"type":"string"}},"Bank":{"name":"Bank","in":"query","description":"\u5f00\u6237\u884c","required":false,"schema":{"type":"string"}},"Card":{"name":"Card","in":"query","description":"\u5361\u53f7","required":false,"schema":{"type":"string"}},"IdCard":{"name":"IdCard","in":"query","description":"\u8eab\u4efd\u8bc1\u53f7","required":true,"schema":{"type":"string"}},"IdCardImg":{"name":"IdCardImg","in":"query","description":"\u8eab\u4efd\u8bc1\u7167\u7247,\u6570\u7ec4\u5b57\u7b26\u4e32","required":true,"schema":{"type":"string"}},"AuthName":{"name":"Name","in":"query","description":"\u59d3\u540d","required":false,"schema":{"type":"string"}},"OpenPayPass":{"name":"OpenPayPass","in":"query","description":"\u4ea4\u6613\u5bc6\u7801 1\u5173\u95ed 2\u5f00\u542f","required":true,"schema":{"type":"integer"}},"MemberIdCardFrontImage":{"name":"front_image","in":"query","description":"\u8eab\u4efd\u8bc1\u6b63\u9762","required":true,"schema":{"type":"string"}},"MemberIdCardReverseImage":{"name":"reverse_image","in":"query","description":"\u8eab\u4efd\u8bc1\u53cd\u9762","required":true,"schema":{"type":"string"}},"MemberIdCardShouFrontImage":{"name":"shou_fron_image","in":"query","description":"\u624b\u6301\u6b63\u9762\u7167","required":false,"schema":{"type":"string"}},"MemberIdCardVideo":{"name":"video","in":"query","description":"\u81ea\u5f55\u89c6\u9891","required":false,"schema":{"type":"string"}},"MemberIdCardType":{"name":"type","in":"query","description":"\u7c7b\u578b\uff081orc+\u624b\u6301 2orc+\u89c6\u9891 3\u652f\u4ed8\u5b9d\uff09","required":true,"schema":{"type":"integer"}},"ClientId":{"name":"ClientId","in":"query","description":"\u5ba2\u6237\u7aefId","required":true,"schema":{"type":"string"}},"captcha":{"name":"captcha","in":"query","description":"\u56fe\u5f62\u9a8c\u8bc1\u7801","required":true,"schema":{"type":"string"}},"auth_status":{"name":"auth_status","in":"query","description":"\u8ba4\u8bc1\u72b6\u6001 0\u672a\u5b9e\u540d 1\u5df2\u5b9e\u540d","required":false,"schema":{"type":"integer"}},"sapling_id":{"name":"sapling_id","in":"query","description":"\u6811\u82d7\u7f16\u53f7(\u6811\u82d7\u5217\u8868\u4e2d\u63d0\u4f9b\u7684)","required":true,"schema":{"type":"string"}},"user_sapling_id":{"name":"user_sapling_id","in":"query","description":"\u7528\u6237\u6811\u82d7\u7f16\u53f7(\u7528\u6237\u6811\u82d7\u5217\u8868\u4e2d)","required":true,"schema":{"type":"string"}},"receive_type":{"name":"receive_type","in":"query","description":"\u9886\u53d6\u7c7b\u578b \u5168\u90e8(WHOLE),\u5355\u4e2a\uff08SINGLE\uff09","required":true,"schema":{"type":"string"}},"user_sapling_receive_id":{"name":"user_sapling_receive_id","in":"query","description":"\u6811\u82d7\u9886\u53d6\u7f16\u53f7 \u5355\u4e2a\u9886\u53d6\u7c7b\u578b\u4e3a'SINGLE'\u65f6\u5fc5\u987b\uff08\u8be6\u60c5\u4e2d\u7684details\u6570\u7ec4\u4e2d\u5355\u4e2a\u6536\u76ca\u7f16\u53f7\uff09","required":false,"schema":{"type":"string"}},"sapling_package_id":{"name":"sapling_package_id","in":"query","description":"\u673a\u5668\u4eba\u5957\u9910\u7f16\u53f7(\u673a\u5668\u4eba\u5217\u8868\u4e2d)","required":true,"schema":{"type":"string"}},"sapling_package_type":{"name":"sapling_package_type","in":"query","description":"\u8d2d\u4e70\u7c7b\u578b 1.\u5168\u6b3e 2.\u5206\u671f\uff08\u6682\u4e0d\u6263\u94b1\uff0c\u7b49\u6709\u94b1\u4e86\u518d\u7ed9\uff09","required":true,"schema":{"type":"string"}},"mouse_id":{"name":"mouse_id","in":"query","description":"\u82b1\u9f20\u7f16\u53f7","required":true,"schema":{"type":"string"}},"steal_user_id":{"name":"steal_user_id","in":"query","description":"\u5077\u53d6\u4eba\u7f16\u53f7","required":true,"schema":{"type":"string"}},"ProductId":{"name":"Id","in":"query","description":"\u77ff\u673aId","required":true,"schema":{"type":"integer"}},"RushId":{"name":"RushId","in":"query","description":"\u62a2\u8d2dId","required":true,"schema":{"type":"integer"}},"OutputType":{"name":"Type","in":"query","description":"\u4ea7\u51fa\u7c7b\u578b 0\u5168\u90e8 1\u6316\u77ff 2\u9080\u8bf7 3\u56e2\u961f","required":true,"schema":{"type":"integer"}},"PlanType":{"name":"Type","in":"query","description":"\u7c7b\u578b 0\u5168\u90e8 1\u4e2d\u5956 2\u672a\u4e2d\u5956","required":true,"schema":{"type":"integer"}},"MyProductType":{"name":"Type","in":"query","description":"\u7c7b\u578b 0\u5168\u90e8 1\u5728\u7ebf 2\u8fc7\u671f 3\u65b0\u4eba","required":true,"schema":{"type":"integer"}},"MemberProductId":{"name":"Id","in":"query","description":"\u6211\u7684\u77ff\u673aId","required":true,"schema":{"type":"integer"}},"Account":{"name":"Account","in":"query","description":"\u8d26\u53f7","required":true,"schema":{"type":"string"}},"QrCode":{"name":"QrCode","in":"query","description":"\u6536\u6b3e\u4e8c\u7ef4\u7801","required":true,"schema":{"type":"string"}},"AddDate":{"name":"AddDate","in":"query","description":"\u4e2d\u5956\u65e5\u671f","required":true,"schema":{"type":"integer"}},"PayMethod":{"name":"PayMethod","in":"query","description":"\u652f\u4ed8\u65b9\u5f0f 1\u94f6\u884c\u5361 2\u652f\u4ed8\u5b9d 3\u5fae\u4fe1 4USDT\u5730\u5740","required":true,"schema":{"type":"integer"}},"TradeType":{"name":"Type","in":"query","description":"0\u5168\u90e8 1\u4e70 2\u5356","required":true,"schema":{"type":"integer"}},"OrderNumber":{"name":"OrderNumber","in":"query","description":"\u8ba2\u5355\u53f7","required":true,"schema":{"type":"string"}},"CTCType":{"name":"Type","in":"query","description":"\u4ea4\u6613\u7c7b\u578b 1\u51fa\u552e 2\u6c42\u8d2d","required":true,"schema":{"type":"integer"}},"Price":{"name":"Price","in":"query","description":"\u4ef7\u683c","required":true,"schema":{"type":"string"}},"MinMoney":{"name":"MinMoney","in":"query","description":"\u6700\u4f4e\u9650\u989d","required":false,"schema":{"type":"string"}},"MaxMoney":{"name":"MaxMoney","in":"query","description":"\u6700\u5927\u9650\u989d","required":true,"schema":{"type":"string"}},"IsBank":{"name":"IsBank","in":"query","description":"\u662f\u5426\u652f\u6301\u94f6\u884c\u5361","required":false,"schema":{"type":"integer"}},"IsWechat":{"name":"IsWechat","in":"query","description":"\u662f\u5426\u652f\u6301\u5fae\u4fe1","required":false,"schema":{"type":"integer"}},"IsAlipay":{"name":"IsAlipay","in":"query","description":"\u662f\u5426\u652f\u6301\u652f\u4ed8\u5b9d","required":false,"schema":{"type":"integer"}},"IsAddress":{"name":"IsAddress","in":"query","description":"\u662f\u5426\u652f\u6301USDT\u5730\u5740","required":false,"schema":{"type":"integer"}},"OrderId":{"name":"Id","in":"query","description":"\u8ba2\u5355Id","required":true,"schema":{"type":"integer"}},"Imgs":{"name":"Imgs","in":"query","description":"\u56fe\u7247 \u6570\u7ec4\u5b57\u7b26\u4e32\u683c\u5f0f","required":true,"schema":{"type":"string"}},"filter":{"name":"filter","in":"query","description":"\u7b5b\u9009\u6761\u4ef6(eg:1-10)","required":false,"schema":{"type":"string"}}},"securitySchemes":{"Authorization":{"type":"apiKey","description":"Token\u68c0\u9a8c","name":"Authorization","in":"header"},"passport":{"type":"oauth2","description":"Laravel passport oauth2 security.","in":"header","scheme":"https","flows":{"password":{"authorizationUrl":"http:\/\/localhost\/oauth\/authorize","tokenUrl":"http:\/\/localhost\/oauth\/token","refreshUrl":"http:\/\/localhost\/token\/refresh","scopes":[]}}}}}}